/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
	--color-navbar: #ff6900;
	--color-background: #ffffff;
	--color-footer: #1a1a1a;
	--color-green: #008000;
	--color-red: #ff0000;
}

img{
    width: 100%;
}

ul{
    list-style: none;
    color: var(--color-background);
}

li{
    padding: 20px;
}

main{
    margin-top: 100px;
}

.g-list{
    color: var(--color-background);
    text-decoration: none;
    font-weight: 600;
}

.g-list:hover{
    text-decoration: underline;
}

.shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
/* utility flex */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.d-center{
    justify-content: center;
}

.fixed{
    background-color: var(--color-navbar);
    position: fixed;
    width: 100%;
    top: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--color-navbar);
}

#logo{
    width: 20%;
    padding: 20px;
    margin-left: 250px;
}

.icon{
    color: var(--color-background);
}

.card{
    position: relative;
    width: calc(100% / 3 - 10px);
    cursor: pointer;
}

.box{
    font-weight: bold;
    font-size: 10px;
    padding: 5px 9px;
    color: var(--color-background);
}

.box-position{
    position: absolute;
    left: 0;
    bottom: 50px;
}

.red-badge{
    color: var(--color-background);
    background-color: var(--color-red);
}

.green-badge{
    color: var(--color-background);
    background-color: var(--color-green);
}

.heart{
    font-size: 1em;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--color-background);
    padding: 10px 10px;
}
.heart:hover{
    color: var(--color-red);
}

.h-img{
    display: none;
}

.card:hover .main-image{
    display: none;
}

.card:hover .h-img{
    display: block;
}

.brand{
   font-size: 12px;
}
.product{
   font-size: 18px;
   font-weight: 600;
}
.price{
   font-weight: 600;
   color: var(--color-red);
   font-size: 15px;
}
.full-price{
   text-decoration: line-through;
   font-size: 15px;
}   